html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a.active {
  color: white;
  background: darkblue;
}

nav {
  background: cornflowerblue;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px;
}

nav.tabs {
  background-color: grey;
  color: white;
}

nav.tabs a.active {
  color: white;
  background: tomato;
}

.main_content {
  padding: 10px;
}

footer {
  width: 100%;
  color: white;
  background: black;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}
